* {
    margin: 0;
    padding: 0;
}


.header {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 500px;

}

.header_link {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

}

.middle {
    padding-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.title {}

.about {
    padding-left: 100px;

}

.heading {}

.about_content {
    padding-left: 100px;


}

.applyAI {
    padding-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.bp {
    /* padding-left: 100px; */
    margin-left: 100px;

}